<script src="/js/admin/tesis.js"></script>

<div class="modal" tabindex="-1" role="dialog" id="modalagregar">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agregar Tesis</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/tesis/crear" enctype="multipart/form-data" method="post">
        <div class="modal-body">
          <div class="cuerpo-modal row">
            <div class="form-group col-md-4">
              <label>Titulo</label>
              <input class="form-control" type="text" required name="titulo">
            </div>
            <div class="form-group col-md-4">
              <label>Resumen</label>
              <textarea class="form-control" type="text" required name="resumen">
                </textarea>
            </div>
            <div class="form-group col-md-4">
              <label>Grado</label>
              <select class="form-control" name="grado">
                <option>Pregrado</option>
                <option>Titulo Profesional</option>
                <option>Maestría</option>
                <option>Doctorado</option>
                <option>Post-Doctorado</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label>Fecha</label>
              <input class="form-control" type="date" required name="fecha">
            </div>
            <div class="form-group col-md-4">
              <label>Cita</label>
              <input class="form-control" type="text" required name="cita">
            </div>
            <div class="form-group col-md-4">
              <label>URI</label>
              <input class="form-control" type="text" required name="URI">
            </div>
            <div class="form-group col-md-12">
              <label>Archivo</label>
              <input class="form-control form-control-file" type="file" required name="archivo">
            </div>
            <div class="form-group  col-md-4">
              <label>Facultad</label>
              <select class="form-control" name="facultad">
                {{#each facultades}}
                <option value={{this._id}}>{{this.nombre}}</option>
                {{/each}}
              </select>
            </div>
            <div class="form-group  col-md-4">
              <label>EAP</label>
              <select class="form-control" name="eap">
                {{#each eaps}}
                <option value={{this._id}}>{{this.nombre}}</option>
                {{/each}}
              </select>
            </div>
            <div class="form-group  col-md-4">
              <label>Disciplina</label>
              <select name="disciplina" class="form-control">
                {{#each eaps}}
                <option>{{this.nombre}}</option>
                {{/each}}
              </select>
            </div>
            <div class="form-group  col-md-4">
              <label>Tipo</label>
              <select class="form-control" name="tipo">
                {{#each tipos}}
                <option value={{this._id}}>{{this.nombre}}</option>
                {{/each}}
              </select>
            </div>
            <div class="form-group col-md-6">
              <label>Autor(es)</label>
              <input class="form-control" type="text" name="autores" required>
            </div>
            <div class="form-group col-md-6">
              <label>Asesor(es)</label>
              <input class="form-control" type="text" name="asesores" required>
            </div>
            <div class="form-group col-md-6">
              <label>Palabras Clave</label>
              <input class="form-control" type="text" name="palabras_clave" required>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary agregar">Agregar</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="modaleliminar">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">¡Alerta!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>¿Está seguro que desea eliminar este post?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-eliminar">Eliminar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>


<div class="container" id="tesis">
  <br>
  <br>
  <div class="row justify-content-center">
    <div class="col-md-3">
      <h1 class="page-title">Tesis</h1>
    </div>
  </div>
  <br>
  <br>

  <div class="row filtros">
    <div class="col-sm-4">
      <label><b>Titulo</b></label>
      <input class="form-control" placeholder="Buscar por título" name="titulo">


    </div>
    <div class="col-sm-4" style="margin-top:27px">
      <button type="button" class="btn btn-secondary btn-agregar" data-toggle="modal" data-target="#modalagregar"><i
          class="fas fa-plus-circle"></i> Agregar</button>
    </div>
  </div>
  <br>
  <div class="row">

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Tesis</th>
          <th>Año</th>
          <th>Comunidad</th>
          <th width="100">Acciones</th>
        </tr>
      </thead>

      <tbody>
        {{#each documentos}}
          <tr>
            <td>{{this.titulo}}</td>
            <td>{{this.fecha}}</td>
            <td>{{this.tipo.escuela_profesional.facultad.area_academica.nombre}}</td>
            <td><button type="button" class="btn btn-outline-danger btn-eliminar" data-toggle="modal" data-target="#modaleliminar-{{this._id}}"><i class="fas fa-trash-alt"></i></button></td>
             <div class="modal" tabindex="-1" role="dialog" id="modaleliminar-{{this._id}}">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">¿Seguro que desea eliminar?</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form action="/tesis/{{this._id}}/eliminar" method="post">
                  <div class="modal-body">
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                  </div>
                </form>
              </div>
            </div>
          </div> 
          </tr>
        {{/each}}
      </tbody>
    </table>

  </div>
  <br>


</div>