<div class="home col-12">
	<div class="home-inicio col-12">
		Inicio
	</div>
	<div class="home-ultimas-tesis col-12">
		Últimas tesis publicadas
	</div>
	<div class="home-lista-tesis col-12">
		{{#each tesis}}
			<div class="home-tesis col-12">
				<div class="home-tesis-cabecera1 col-12">
					{{#if this.restringido}}
						<i class="fas fa-unlock"></i>&nbsp;
						Acceso restringido <span class="home-articulo">Tesis - {{@index}}</span>
					{{else}}
						<i class="fas fa-lock-open"></i>&nbsp;
						Acceso libre <span class="home-articulo">Tesis - {{@index}}</span>
					{{/if}}
				</div>
				<div class="home-tesis-cuerpo1 col-12">
					<div class="home-titulo col-12">
						{{this.titulo}}
					</div>
					<div class="home-autor col-12">
						{{this.autores}} (Universidad Nacional Mayor de San Marcos, {{this.fecha}})
					</div>
					<div class="home-contenido col-12">
						{{this.descripcion}}
					</div>
					<div class="home-visitas col-12">
						Numero de visitas: {{this.numero_vistas}}
					</div>
				</div>
			</div>
			<br />
		{{/each}}
	</div>
</div>