<div class="home col-12">
	<div class="home-inicio col-12">
		Tesis más visitadas
	</div>
	<div class="masvisitadas-borde">
		<form action="">
			<div class="row">
				<div class="avanzado-label col-12">
					Rango de visitas
				</div>
			
				<div class="slidecontainer col-12 col-lg-6">
					<div class="inputDiv">
						<div class="etiqueta "></div>
						<span class="ini-slider-start ">1</span><span class="ini-slider-end">10000</span>
						<input class="slider" name="max" type="range" value="1" min="1" max="10000" autocomplete="off" id="input3">
					</div>
				</div>
				<div class="masvisitadas-buscar col-12 col-lg-6">
					<button>Buscar</button>
				</div>	
			</div>
		</form>
	</div>
	<br />
	<div class="home-lista-tesis masvisitadas-busqueda col-12">
		{{#each documentos}}
			<div class="home-tesis col-12">
				<div class="home-tesis-cabecera1 col-12">
					{{#if this.restringido}}
						<i class="fas fa-unlock"></i>&nbsp;
						Acceso restringido <span class="home-articulo">Artículo - {{@index}}</span>
					{{else}}
						<i class="fas fa-lock-open"></i>&nbsp;
						Acceso libre <span class="home-articulo">Artículo - {{@index}}</span>
					{{/if}}
				</div>
				<div class="home-tesis-cuerpo1 col-12">
					<div class="home-titulo col-12">
						{{this.titulo}}
					</div>
					<div class="home-autor col-12">
						{{this.autores}} (Universidad Nacional Mayor de San Marcos, {{this.fecha}})
					</div>
					<div class="home-contenido col-12">
						{{this.descripcion}}
					</div>
					<div class="home-visitas col-12">
						Numero de visitas: {{this.numero_vistas}}
					</div>
				</div>
			</div>
			<br />
		{{/each}}
	</div>
	<br />
	{{#if pages}}
		<div class="paginacion col-12">
			<div class="paginado row">
				<form class="pag">
					<a class="prev align-middle" href="./mas_visitadas?page={{previous_page}}&max={{query.max}}" title="Anterior">
						<i class="fas fa-caret-square-left"></i>
					</a>
					<span class="page-nr align-middle">
						Página
						<span class="field">
							<input class="page-number" type="number" name="page" title="Página {{page}}" value={{page}} min=1 max={{pages}} />
							<span class="pagination-error error-message d-none">
								<strong>
									<span class="invalid-page-number"></span>
								</strong>
								is not a valid page number. Please enter a number between
								<strong>1</strong>
								and
								<strong>1,229</strong>
							</span>
						</span>
						de
						<span class="number-of-pages">{{pages}}</span>
					</span>
					<input class="d-none" type="hidden" name="min" value={{query.min}}>
					<input class="d-none" type="hidden" name="max" value={{query.max}}>
					<a class="next align-middle" href="./mas_visitadas?page={{next_page}}&max={{query.max}}" title="Siguiente">
						<i class="fas fa-caret-square-right"></i>
					</a>
				</form>
			</div>
		</div>
	{{/if}}
</div>

<script>

	var elInput3 = document.querySelector('#input3');
	if (elInput3) {
	  var w = parseInt(window.getComputedStyle(elInput3, null).getPropertyValue('width'));

	  // LA ETIQUETA 
	  var etq = document.querySelector('.etiqueta');
	  if (etq) {
	    // el valor de la etiqueta (el tooltip) 
	    etq.innerHTML = elInput3.value;

	    // calcula la posición inicial de la etiqueta (el tooltip); 
	    var pxls = w / 10000;

	    etq.style.left = ((elInput3.value * pxls) - 15) + 'px';

	    elInput3.addEventListener('input', function() {
	      // cambia el valor de la etiqueta (el tooltip) 
	      etq.innerHTML = elInput3.value;
	      // cambia la posición de la etiqueta (el tooltip) 
	      etq.style.left = ((elInput3.value * pxls) - 15) + 'px';

	    }, false);
	  }
	}
</script>